@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}
header {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../images/header_bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    min-height: 400px;
    display: flex;
    align-items: center;
    animation-duration: 2s;
    animation-name: headerbgdarker;
}
@keyframes headerbgdarker {
    from { opacity: 0.0; }
    to { opacity: 1.0; }
}
header > .container {
    margin: 0px auto;
    text-align: center;
    width: 375px;
}
h1 {
    margin-bottom: 40px;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 40px;
    color: white;
    line-height: 80px;
}
@media (max-width: 374px) {
    h1 > span::after {
        content: "";
        display: block;
    }
}
#headerContent {
    animation-duration: 2s;
    animation-delay: 0s;
    animation-name: header-content-down;
    
}
@keyframes header-content-down {
    from {margin-bottom: 100%;}
    to {margin-bottom: 0;}
}
.header-name {
    letter-spacing: 6px;
    font-size: 44px;
    color: white;
    border-bottom: 2px solid white;
}
.header-name:hover {
    color: #ff2e63;
}
#headerBtn {
    background-color: transparent;
    border: 3px solid white;
    color: white;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 32px;
    padding: 5px 30px;
}
#headerBtn:hover {
    background-color: #08d9d6;
}
.no-dragging {
    -ms-user-select: none; 
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
section { 
    padding-top: 60px;
    padding-bottom: 40px;
}
.inner-container {
    text-align: center;
}
.content-header > h2 {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
hr.hr-under-content-header {
    display: inline-block;
    margin: 0 auto 40px; 
    width: 80px;
    height: 4px;
    background-color: black;
}
.content-subheader > h3 {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
}
.content-box {
    margin-bottom: 40px;
}

/*
    # NAVIGATOR
*/
nav {
    background-color: rgba(37, 42, 52, 1);
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    position: sticky;
    top: 0px; left: 0px;
    z-index: 1000;
}
nav > .container-lg > .row > .col-sm {
    padding: 5px 0;
}
nav > .container-lg > .row > .col-sm:hover {
    color: #ff2e63; 
    font-weight: 800;
}

/*
    # ABOUT ME
*/
#about {
    background-color: white;
}
.about-text {
    text-align: justify;
    font-family: 'Noto Sans KR', sans-serif;
}
.about-text > h4 {
    font-size: 20px;
    font-weight: 700;
}
.about-text > p {
    margin-bottom: 20px;
}
.about-table {
    text-align: left;
}
#aboutTable {
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    max-width: 500px;
}

#aboutTable > tr > th {
    font-weight: 700;
}
.table-icon {
    display: flex;
    align-items: center;
    text-align: center;
    background-color: black;
    border-radius: 50%;
    height: 25px;
    width: 25px;
}
.table-icon > i {
    display: inline-block;
    margin: 0 auto;
    color: white;
    padding: 2px;
}
#aboutTable ul {
    padding-left: 16px;
}
#aboutTable ul:last-child {
    margin-bottom: 0px;
}
@media(max-width: 424px) {
    #aboutTable {
        width: 100%;
        font-size: 0.7em;
    }
    .table-icon {
        height: 18px;
        width: 18px;
    }
}

.hex-outer {
    clip-path: polygon(50% 0, 100% 30%, 100% 70%, 50% 100%, 0% 70%, 0 30%);
    filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.2)) drop-shadow(0 2px 3px rgba(0, 0, 0, 0.4));
    width: 100px;
    height: 110px;
    display: inline-block;
}
.hex-inner {
    clip-path: polygon(50% 0, 100% 30%, 100% 70%, 50% 100%, 0% 70%, 0 30%);
    width: 92px;
    height: 98px;
    position: relative;
    top: 6px; left: 4px;
}
.hex-inner > img {
    width: 100%;
    height: 100%;
}
.hex-blank {
    clip-path: polygon(50% 0, 100% 30%, 100% 70%, 50% 100%, 0% 70%, 0 30%);
    width: 100px;
    height: 110px;
    display: inline-block;
}
@media(max-width: 424px) {
    .hex-outer {
        width: 80px;
        height: 90px;
    }
    .hex-blank {
        width: 80px;
        height: 90px;
    }
    .hex-inner {
        width: 72px;
        height: 78px;
        top: 6px; left: 4px;
    }
}

.hex-on-mouse {
    position: absolute;
    /* background-color: rgba(0, 0, 0, 0.7); */
    display: none;
}
.hex-outer:hover {
    animation: rotateY 2s infinite linear;
}
@keyframes rotateY {
    to { transform: rotateY(360deg); }
}
.hex-outer:hover .hex-on-mouse {
    display: flex;
    align-items: center;
}
.hex-on-mouse > span {
    display: block;
    color:white;
    text-align: center;
    width: 100%;
}

.about-skill-row {
    margin-bottom: -30px;;
}
.about-skill-row:last-child {
    margin-bottom: 0px;
}

/*
    # PORTFOILO
*/
#portfoilo {
    background-color: #eaeaea;
}
.portfoilo-area {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.portfoilo-unit {
    width: 288px;
    height: 180px;
    background-color: darkgray;
    margin: 10px auto;
    position: relative;
}
.portfoilo-unit > img {
    width: 100%;
    height: 100%;
}
.portfoilo-description {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0px; left: 0px;
    width: 288px;
    height: 180px;
    display: none;

    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 2px;
}
.portfoilo-description > span {
    margin: 0 auto;
}
.portfoilo-unit:hover .portfoilo-description {
    display: flex;
    align-items: center;
}

/*
    # CONTACT
*/
#contact {
    background-color: darkgray;
}
#contactContent {
    width: 300px;
    margin: 0 auto;
}
#contactContent * {
    padding: 0px;
}