@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* HEADER */
.header {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../images/header_bg3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    min-height: 400px;
    display: flex;
    align-items: center;
    animation-duration: 1s;
    animation-name: fade-in;
}
@keyframes fade-in {
    from { opacity: 0.0; }
    to { opacity: 1.0; }
}
.header__content {
    margin: 0px auto;
    width: 375px;
    text-align: center;
    animation-duration: 2s;
    /* animation-delay: 0s; */
    animation-name: move-down;
}
@keyframes move-down {
    from {margin-bottom: 100%;}
    to {margin-bottom: 0;}
}
.header__text {
    margin-bottom: 40px;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 40px;
    color: white;
    line-height: 80px;
}
@media (max-width: 374px) {
    .header__text--narrow::after {
        content: "";
        display: block;
    }
}
.header__name {
    letter-spacing: 6px;
    font-size: 44px;
    /* color: white; */
    color: #ff2e63;    
    border-bottom: 2px solid white;
}
.header__btn {
    background-color: transparent;
    border: 3px solid white;
    color: white;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 32px;
    padding: 5px 30px;
    width: 180px;
}
.header__btn:hover {
    background-color: #08d9d6;
}

section { 
    padding-top: 60px;
    padding-bottom: 40px;
}
.inner-container {
    text-align: center;
}
.content-header > h2 {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
hr.hr-under-content-header {
    display: inline-block;
    margin: 0 auto 40px; 
    width: 80px;
    height: 4px;
    background-color: black;
}

.content-box {
    margin-bottom: 40px;
}

/*
    # NAVIGATOR
*/
nav {
    background-color: rgba(37, 42, 52, 1);
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    position: sticky;
    top: 0px; left: 0px;
    z-index: 1000;
}
nav > .container-lg > .row > .col-sm {
    padding: 5px 0;
}
nav > .container-lg > .row > .col-sm:hover {
    color: #ff2e63; 
    font-weight: 800;
}

/*
    # ABOUT ME
*/
#about {
    background-color: white;
}
.about-text {
    text-align: justify;
    font-family: 'Noto Sans KR', sans-serif;
}
.about-text > h4 {
    font-size: 20px;
    font-weight: 700;
}
.about-text > p {
    margin-bottom: 20px;
}
.about-table {
    text-align: left;
}
#aboutTable {
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    max-width: 500px;
}

#aboutTable > tr > th {
    font-weight: 700;
}
.table-icon {
    display: flex;
    align-items: center;
    text-align: center;
    background-color: black;
    border-radius: 50%;
    height: 25px;
    width: 25px;
}
.table-icon > i {
    display: inline-block;
    margin: 0 auto;
    color: white;
    padding: 2px;
}
#aboutTable ul {
    padding-left: 16px;
}
#aboutTable ul:last-child {
    margin-bottom: 0px;
}
@media(max-width: 424px) {
    #aboutTable {
        width: 100%;
        font-size: 0.7em;
    }
    .table-icon {
        height: 18px;
        width: 18px;
    }
}

.cursor-hand {
    cursor: pointer;
}

.hex-outer {
    clip-path: polygon(50% 0, 100% 30%, 100% 70%, 50% 100%, 0% 70%, 0 30%);
    filter: drop-shadow(0 1px 1px rgba(255, 255, 255, 1.0)) drop-shadow(0 2px 2px rgba(255, 255, 255, 1.0));
    width: 100px;
    height: 110px;
    display: inline-block;
}

.hex-inner {
    clip-path: polygon(50% 0, 100% 30%, 100% 70%, 50% 100%, 0% 70%, 0 30%);
    width: 92px;
    height: 98px;
    position: relative;
    top: 6px; left: 4px;
    /* background-color: white;;
    border: none; */
}
.hex-inner > img {
    width: 100%;
    height: 100%;
}
.hex-blank {
    clip-path: polygon(50% 0, 100% 30%, 100% 70%, 50% 100%, 0% 70%, 0 30%);
    width: 100px;
    height: 110px;
    display: inline-block;
}

@media(max-width: 424px) {
    .hex-outer {
        width: 80px;
        height: 90px;
    }
    .hex-blank {
        width: 80px;
        height: 90px;
    }
    .hex-inner {
        width: 72px;
        height: 78px;
        top: 6px; left: 4px;
    }
}

.hex-on-mouse {
    position: absolute;
    display: none;
}
.hex-rotateY {
    animation: rotateY 2s infinite linear;
}
@keyframes rotateY {
    to { transform: rotateY(360deg); }
}
.hex-outer:hover .hex-on-mouse {
    display: flex;
    align-items: center;
}
.hex-on-mouse > span {
    display: block;
    color:white;
    text-align: center;
    width: 100%;
}

.about-skill-row {
    margin-bottom: -30px;;
}
.about-skill-row:last-child {
    margin-bottom: 0px;
}

.skill-explain-content-box {
    max-width: 500px;
    margin: 0 auto;
}
.skill-explain-content-row {
    display: flex; 
    margin: 10px 0;
}
.skill-explain-content {
    display:inline-block; 
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
.skill-explain-name {
    min-width: 120px; 
    background-color: #08d9d6;
    /* background-color: #3CAeA3; */
    color: white;
    text-align: left;
    font-weight: 600;
    padding: 5px 10px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.skill-explain-bar {
    width:80%; 
    background-color: #eaeaea;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.skill-explain-bar > div {
    display: inline-block;
    background-color: rgba(8, 217, 214, 0.4);
    background-color: #08d9d6;
    
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.skill-explain-bar > span {
    color : gray;
}
.fill-bar {
    animation-name: fillingBar;
    animation-duration: 4s;
}
@keyframes fillingBar {
    from {margin-right: 100%};
}
.skill-explain-bar > span {
    display: inline-block;
    margin: 5px 0;
}

/*
    # PORTFOILO
*/
#portfoilo {
    background-color: #eaeaea;
}
.portfoilo-area {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.portfoilo-unit {
    width: 288px;
    height: 180px;
    background-color: darkgray;
    margin: 10px auto;
    position: relative;
}
.portfoilo-unit > img {
    width: 100%;
    height: 100%;
}
.portfoilo-description {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0px; left: 0px;
    width: 288px;
    height: 180px;
    display: none;

    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 2px;
}
.portfoilo-description > span {
    margin: 0 auto;
}
.portfoilo-unit:hover .portfoilo-description {
    display: flex;
    align-items: center;
}

/*
    # CONTACT
*/
#contact {
    background-color: darkgray;
}
#contactContent {
    width: 300px;
    margin: 0 auto;
}
#contactContent * {
    padding: 0px;
}

/*
    # SKILL
*/
#skill {
    background-color: #252a34;
    color: white;
}
hr.hr-white {
    background-color: white;
}
#aboutSkillHeader {
    width: 100%; height: 60px;
    /* display: flex;
    align-items: center; */
    justify-content: space-between;
    max-width: 400px;
    margin: 0 auto;
    padding: 0 5%;
}
#aboutSkillHeader > h3 {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 24px;
    width: 30%;
    /* color: #ff2e63; */
    /* background-color: #ff2e63; */
    margin: 0;
}
.about-skill-header-selected {
    background-color: #ff2e63;
}
#aboutSkillBoxCol {
    
}
#aboutSkillBox {
    margin-top: 60px;
    width: 100%;
}
#skill > div > .text-area {
    margin-bottom: 40px;
}
.hex-blur {
    opacity: 0.2;
}
.move-skill-header {
    animation-name: moveSkillHeader;
    animation-duration: 2s;
}
@keyframes moveSkillHeader {
    from {margin-left : 30%; };
}