.hex-rotateY {
    animation: rotateY 2s infinite linear;
}
@keyframes rotateY {
    to { transform: rotateY(360deg); }
}
.fill-bar {
    animation-name: fillingBar;
    animation-duration: 4s;
}
@keyframes fillingBar {
    from {margin-right: 100%};
}

.hex-blur {
    opacity: 0.2;
}
.move-skill-header {
    animation-name: moveSkillHeader;
    animation-duration: 2s;
}
@keyframes moveSkillHeader {
    from {margin-left : 30%; };
}