@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
header {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../images/header_bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    
    height: 100vh;
    min-height: 400px;
    display: flex;
    align-items: center;
    opacity : 1;
}
header > .container {
    margin: 0px auto;
    text-align: center;
    width: 375px;
}
h1 {
    margin-bottom: 40px;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 40px;
    color: white;
    line-height: 80px;
}
@media (max-width: 374px) {
    h1 > span::after {
        content: "";
        display: block;
    }
}
.header-name {
    letter-spacing: 6px;
    font-size: 44px;
    color: white;
    border-bottom: 2px solid white;
}

#headerBtn {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 32px;
    padding: 5px 30px;
}
#headerBtn:hover {
    color: #E53A40;
    border-color: red;
}
.no-dragging {
    -ms-user-select: none; 
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

nav {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    position: sticky;
    top: 0px; left: 0px;
}
nav > .container-lg > .row > .col-sm {
    padding: 5px 0;
}
nav > .container-lg > .row > .col-sm:hover {
    color: #E53A40; 
    font-weight: 800;
}

section { 
    padding-top: 60px;
    padding-bottom: 40px;
    height: 100vh;
    min-height: 500px;
}
.inner-container {
    text-align: center;
}
.content-header > h2 {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
hr.hr-under-content-header {
    display: inline-block;
    margin: 0 auto 30px; 
    width: 80px;
    height: 3px;
    color: black;
    background-color: black;
}


#about {
    background-color: white;
}
#about-skill {
    margin: 20px;
    background-color: gray;
    height: 300px;
}

#portfoilo {
    background-color: lightgray;
}
#contact {
    background-color: darkgray;
}
